<div class="container-fluid" *ngIf="forecast">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{ forecast.name }}</h3>
    </div>
    <ul class="list-group" *ngFor="let prediction of forecast.forecast">
      <li class="list-group-item">
        {{ prediction.date | date: "EEEE, MMM d" }}:
        {{ prediction.condition }} - Min:
        {{ prediction.minTemperature | number: "1.0-0" }} - Max:
        {{ prediction.maxTemperature | number: "1.0-0" }}

        <img class="icon" [src]="getImageForCondition(prediction.condition)" />
      </li>
    </ul>
  </div>
  <button
    class="btn btn-success"
    tabindex="0"
    id="mainPageBtn"
    [routerLink]="['/main']"
  >
    &lt; Back to main page
  </button>
</div>
