<div class="well flex">
  <div>
    <h3>{{ weatherInfo.locationName }} ({{ weatherInfo.zipCode }})</h3>
    <h4>Current conditions: {{ weatherInfo.currentConditionName }}</h4>
    <h4>Temperatures today:</h4>
    <p>
      Current {{ weatherInfo.currentTemperature | number: "1.0-0" }} - Max
      {{ weatherInfo.maxTemperature | number: "1.0-0" }} - Min
      {{ weatherInfo.minTemperature | number: "1.0-0" }}
    </p>
    <p>
      <a href="/forecast/95742"
        >Show 5-day forecast for {{ weatherInfo.locationName }}</a
      >
    </p>
  </div>
  <div>
    <span class="close" (click)="removeLocation()">×</span>
    <img [src]="getImageForCondition(weatherInfo.currentConditionName)" />
  </div>
</div>
